@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
  }
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

/* Reset Over */
/* General */
:root {
    --bg-lightest: #fdfcea;
    --bg-lighter: #fcf9c8;
    --bg-light: #fbf193;
    --bg-regular: #f9e151;
    --bg-dark: #f3ca06;
    --bg-darker: #e4b40d;
    --bg-darkest: #c48b04;
    --text-light: #c48b04;
    --text-regular: #9b630b;
    --text-dark: #7f4e12;
    --text-darkest: #6b4117;
    --font-headers: "Indie Flower", -apple-system, "Inter", Arial, Helvetica, sans-serif;
    --font-general: -apple-system, "Inter", Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-general);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container {
    min-width: 60rem;
    min-height: 35rem;
    background-color: var(--bg-lightest);
    border-radius: 40px;
    margin: 2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 8rem 1fr;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
.header-container {
    text-decoration: none;
    color: black;
}

.header-text {
    font-family: var(--font-headers);
    font-size: 3rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Category container */
.category-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
}

.category-header {
    font-family: var(--font-headers);
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.cat-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    text-align: left;
    font-family: var(--font-headers);
    font-size: 1.4rem;
}

.cat-button:hover {
    font-weight: 600;
}

#generated-cat-buttons {
    display: flex;
    flex-direction: column;
}

/* To do container */
.todo-display {
    width: 40rem;
    min-height: 25rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.todo-item-container,
.todo-button-container {
    display: grid;
    grid-template-rows: 3rem;
    grid-auto-rows: minmax(3rem, auto);
}

.todo-item,
.todo-add-todo,
.todo-add-cat,
.todo-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: end;
    gap: 1rem;
    height: 3rem;
}

.todo-form-title,
.cat-form-title {
    background-color: inherit;
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    margin-left: 3rem;
    padding-left: 1rem;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

.todo-form-title:focus,
.cat-form-title:focus {
    outline: none;
    border: none;
}

.cat-display {
    height: 100%;
    font-family: var(--font-headers);
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0.7rem;
    cursor: text;
}

.cat-due {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}

.checkbox {
    width: 1rem;
    height: 1rem;
    border: 2px solid #333;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;  
    position: relative;      
    padding: 0;   
    margin-bottom: 0.3rem;
    margin-left: 1rem;           
    border-radius: 50%;
}

.checkbox:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.checkbox[aria-pressed="true"] {
    background-color: #333; 
    border-color: #333;
}

.todo-display-header {
    height: 100%;
    padding-top: 1.4rem;
    cursor: text;
    color: rgba(0, 0, 0, 0.6);
    font-family: var(--font-headers);
    font-size: 1.3rem;
    font-style: italic;
}

.todo-due {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}

.cat-edit-button,
.cat-restore-button,
.cat-submit-button,
.cat-close-button,
.todo-close-button,
.todo-edit-button,
.todo-restore-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.cat-delete-button,
.todo-delete-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.edit-icon,
.delete-icon,
.close-icon,
.restore-icon {
    width: 1.3rem;
    height: 1.3rem;
}

.edit-icon:hover,
.delete-icon:hover,
.close-icon:hover,
.restore-icon:hover {
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(196, 139, 4, 0.8), inset 0px 0px 20px rgba(196, 139, 4, 0.8);
}

.submit-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.add-todo,
.add-cat {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-left: 2.7rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
}

.add-todo:hover,
.add-cat:hover {
    color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

/* Edit Forms */
/* Edit Cat Form */
.edit-cat-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    grid-auto-rows: minmax(3rem, auto);
    margin-top: 1rem;
    gap: 0.2rem;
    background-color: var(--bg-lightest);
}

#edit-cat-title,
#edit-cat-due,
#edit-cat-description {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding-left: 1rem;
}

#edit-cat-title:hover,
#edit-cat-due:hover,
#edit-cat-description:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

#edit-cat-title:focus,
#edit-cat-due:focus,
#edit-cat-description:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--bg-darker);
}

#edit-cat-title:hover:focus,
#edit-cat-due:hover:focus,
#edit-cat-description:hover:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--bg-darker);
}

#edit-cat-title {
    grid-area: 1 / 1 / 2 / 2;
}

#edit-cat-due {
    grid-area: 1 / 2 / 2 / 3;
    cursor: pointer;
}

#edit-cat-description {
    grid-area: 2 / 1 / 3 / 3;
}

.cat-submit-button {
    grid-area: 3 / 1 / 4 / 3;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
}

.cat-submit-button:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* Edit todo forms */
.edit-todo-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    grid-auto-rows: min-max(3rem, auto);
    margin-top: 1rem;
    gap: 0.2rem;
    background-color: var(--bg-lightest);
}

#edit-todo-title,
#edit-todo-due,
#edit-todo-description,
#edit-todo-cat,
#edit-priority,
#notes,
#when-created {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding-left: 1rem;
    height: 3rem;
}

#edit-todo-title:focus,
#edit-todo-due:focus,
#edit-todo-description:focus,
#edit-todo-cat:focus,
#edit-priority:focus,
#notes:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--bg-darker);
}
#edit-todo-title:hover,
#edit-todo-due:hover,
#edit-todo-description:hover,
#edit-todo-cat:hover,
#edit-priority:hover,
#notes:hover,
#when-created:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

#edit-todo-title:hover:focus,
#edit-todo-due:hover:focus,
#edit-todo-description:hover:focus,
#edit-todo-cat:hover:focus,
#edit-priority:hover:focus,
#notes:hover:focus,
#when-created:hover:focus {
    box-shadow: 0px 0px 8px var(--bg-darker);
}

#edit-todo-title {
    grid-area: 1 / 1 / 2 / 2;
}

#edit-todo-due {
    grid-area: 1 / 2 / 2 / 3;
    cursor: pointer;
}

#edit-todo-description {
    grid-area: 2 / 1 / 3 / 3;
}

#edit-todo-cat {
    grid-area: 3 / 1 / 4 / 2;
    cursor: pointer;
}

#edit-priority {
    grid-area: 3 / 2 / 4 / 3;
    cursor: pointer;
}

#notes {
    grid-area: 4 / 1 / 5 / 3;
}

#when-created {
    grid-area: 5 / 1 / 6 / 3;
}

.todo-submit-button {
    grid-area: 6 / 1 / 7 / 3;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
}

.todo-submit-button:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  
  .credit {
    display: flex;
    gap: 0.3rem;
  }
  
  footer a {
    text-decoration: none;
    color: var(--text-darkest);
    transition: color 0.3s ease; 
  }
  
  footer a:hover {
    color: var(--text-light);
    }
  
  .credit img {
    height: 1.2rem;
    width: 1.2rem;
  }
