@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
  }
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

/* Reset Over */
/* General */
:root {
    --bg-lightest: #fdfcea;
    --bg-lighter: #fcf9c8;
    --bg-light: #fbf193;
    --bg-regular: #f9e151;
    --bg-dark: #f3ca06;
    --bg--darker: #e4b40d;
    --bf-darkest: #c48b04;
    --text-light: #c48b04;
    --text-regular: #9b630b;
    --text-dark: #7f4e12;
    --text-darkest: #6b4117;
    --font-headers: "Indie Flower", -apple-system, "Inter", Arial, Helvetica, sans-serif;
    --font-general: -apple-system, "Inter", Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-general);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container {
    min-width: 60rem;
    min-height: 35rem;
    background-color: var(--bg-lightest);
    border-radius: 40px;
    margin: 2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 8rem 1fr;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
.header-container {
    text-decoration: none;
    color: black;
}

.header-text {
    font-family: var(--font-headers);
    font-size: 3rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Category container */
.category-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
}

.category-header {
    font-family: var(--font-headers);
    margin-bottom: 0.5rem;
}

.cat-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
}

/* To do container */
.todo-display {
    width: 40rem;
    height: 25rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: repeat(4, 3rem);
}

.todo-display-item,
.todo-add-todo,
.todo-add-cat {
    border-bottom: 1px solid black; 
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.general-category-form,
.todo-1-form {
    width: 80%;
    height: 100%;
}

#cat-general {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    font-family: var(--font-headers);
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 1rem;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    border: 2px solid #333;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;  
    position: relative;      
    padding: 0;   
    margin-bottom: 0.3rem;
    margin-left: 1rem;           
    border-radius: 50%;
}

.checkbox[aria-pressed="true"] {
    background-color: #333; 
    border-color: #333;
}

#todo-1 {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    font-family: var(--font-general);
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.add-todo,
.add-cat {
    background-color: inherit;
    border: none;
    cursor: text;
    margin-left: 2.3rem;
    font-size: 0.9rem;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .credit {
    display: flex;
    gap: 0.3rem;
  }
  
  footer a {
    text-decoration: none;
    color: var(--text-darkest);
    transition: color 0.3s ease; 
  }
  
  footer a:hover {
    color: var(--text-light);
    }
  
  .credit img {
    height: 1.2rem;
    width: 1.2rem;
  }
